---
import "./skill-card.scss";
import Item from "./skill-item.astro";

const {contents} = Astro.props;
const {category,subCategory,items,subCategory2,items2} = contents;
---

<div class="skill-card">
  <h4>{category}</h4>
  <ul class="skill-card__middle-categories">
    <li>
      <p class="skill-card__sub-category">{subCategory}</p>
      <div class="skill-card__small-category">
      {
        items.map((item:any)=>(
                <Item
                    icon={item.icon}
                    name={item.skillName}
                />
        ))
      }
      </div>
    </li>
    <li>
      <p class="skill-card__sub-category">{subCategory2}</p>
      <div class="skill-card__small-category">
      {
        items2.map((item:any)=>(
                <Item
                    icon={item.icon}
                    name={item.skillName}
                />
        ))
      }
      </div>
    </li>
  </ul>
</div>